@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "UniversElse", system-ui, sans-serif;
    background-color: theme("colors.darkestwine");
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 29px;
    line-height: 33px;
  }

  h2 {
    font-size: 28px;
    line-height: 31px;
    color: theme("colors.salmon");
  }

  p {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: theme("colors.salmon");
  }

  input,
  textarea,
  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }

  /* Removes horrible arrows from number input */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -web-box-sizing: border-box;
  }

  select {
    background: transparent;
    background-position: right 20px top 50%;
    background-image: theme("backgroundImage.chevron");
    background-repeat: no-repeat;
    background-size: 12px 8px;
  }

  input:not([type="checkbox"]),
  textarea,
  select {
    @apply w-full bg-darkwine  border-b-salmon border-b-[1px] px-[16px] py-[16px] rounded-t-[4px];
  }

  input:not([type="checkbox"]),
  select {
    @apply text-paper placeholder:text-salmon;
  }

  input:not([type="checkbox"]):focus,
  textarea:focus,
  select:focus {
    outline: 1px solid theme("colors.salmon");
  }

  input[type="checkbox"] {
    @apply outline-salmon outline-[1px] hover:cursor-pointer bg-darkwine placeholder:text-salmon rounded-[4px] h-[34px] w-[34px];
  }

  input[type="checkbox"]:checked {
    background-image: theme("backgroundImage.check");
    background-color: theme("colors.salmon");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @font-face {
    font-family: "UniversElse";
    font-weight: 400;
    font-display: auto;
    src: url("/fonts/universelse-regular-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "UniversElse";
    font-weight: 300;
    font-display: auto;
    src: url("/fonts/universelse-light-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "UniversElse";
    font-weight: 700;
    font-display: auto;
    src: url("/fonts/universelse-bold-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "IMFellFrenchCanon";
    font-weight: 400;
    font-display: auto;
    src: url("/fonts/IMFellFrenchCanon-Regular.ttf") format("woff");
  }

  @font-face {
    font-family: "IMFellFrenchCanon";
    font-weight: 400;
    font-display: auto;
    font-style: italic;
    src: url("/fonts/IMFellFrenchCanon-Italic.ttf") format("woff");
  }
}

@layer components {
  .tooltip {
    @apply rounded-t-[4px] border-b-ochre bg-ochre border-b-[1px] px-[20px] py-[30px] transition delay-150 ease-in-out;
  }
  .form-indicator {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -web-box-sizing: border-box;
    border-radius: 4px;

    background-color: theme("colors.darkwine");
    height: 12px;
  }

  .orange-button {
    background-color: theme("colors.ochre");
    color: theme("colors.darkwine");
    padding: 16px;
    border-radius: 6px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .orange-button-slim {
    background-color: theme("colors.ochre");
    color: theme("colors.darkestwine");
    border-radius: 6px;
  }

  .red-button {
    background-color: theme("colors.salmon");
    color: theme("colors.darkestwine");
    border-radius: 6px;
  }

  .inverted-red-button {
    background-color: theme("colors.darkestwine");
    color: theme("colors.salmon");
    border-radius: 6px;
    border: 1px solid theme("colors.salmon");
  }

  .body-text {
    @apply text-[17px] leading-[21px] tracking-[.01em];
  }

  .french-title {
    font-family: "IMFellFrenchCanon", "UniversElse", system-ui, sans-serif;
    @apply text-[33px] md:text-[42px] leading-[115%] text-paper text-center;
  }
}

@layer utilities {

  .px-home {
    @apply px-[24px] md:px-0;
  }

  .pl-home {
    @apply pl-[24px] md:pl-0;
  }

  .pr-home {
    @apply pr-[32px] md:pr-0;
  }
  
}